<!doctype html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!--  meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta name="keywords" content="Career, university, college, career prospects, guidance, career guidance">
    <meta name="description" content="buying, books, science, Career guidance, magazine, industry, institution, university, college, south africa">


     <!-- Icons -->
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- font 5 awesome-->
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <!-- CSS link -->
    <link rel ="stylesheet" href ="styles/viewsc1,1.css" type ="text/css">
 
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <!--extra-->
    <link href="/docs/4.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

        <!--icon link-->
        <link rel="icon" href="https://img.icons8.com/ios-glyphs/30/000000/planet.png" >

    <title>Buying Career Mercury</title>
  </head>
  <body oncontextmenu="return false">
    <!-- Nav-->
    <div class="container">
        <header class="blog-header py-3">
          <div class="row flex-nowrap justify-content-between align-items-center">
            <div class="col-4 pt-1">
              <a class="text-muted" href="#"></a>
            </div>
            <div class="col-4 text-center">
              <a class="blog-header-logo text-dark"  style ="text-decoration: none;">Career Mercury</a>
            </div>
            <div class="col-4 d-flex justify-content-end align-items-center">
                <a class="text-muted" href="#"></a>
              </div>
          </div>
        </header>
        
        <div class="blog-header py-1 mb-2">
            <nav class="nav d-flex justify-content-between">
              <a class="p-2 text-muted" href="#">Store</a>
              <a class="p-2 text-muted" href="#">Skills</a>
              <a class="p-2 text-muted" href="#">Media</a>
              <a class="p-2 text-muted" href="#">Forum</a>
              <a class="p-2 text-muted" href="#">Home</a>
            </nav>
          </div>


          <!-- section-->
          <div class ="back" style= "padding-top: 20px;">
          <p><a href = "#" style="text-decoration: none;" class="text-dark">Home</a> > <a href ="#" style="text-decoration: none;" class="text-dark">Store</a> > <a href = "#" style="text-decoration: none;" class="text-dark">Science</a> > <a href = "#" style="text-decoration: none;" class="text-dark"><b>Buying</b></a></p>
            </div>

          <section class="text-center" style = "padding-top: 70px;">
            <div class="container">
              <h1 class="jumbotron-heading" style = "font-family: 'Space Mono', monospace;">Thank You for Buying</h1>
            </div>
          </section>

          <hr class="featurette-divider">

          <!--Wanted textbook-->
          
          <div class="row">
          <div class="col-md-4">
            <div class="card shadow p-3 mb-5 bg-white rounded">
              <div class="embed-responsive embed-responsive-16by9">
                <embed width="727" height="409" src="image/Mechanics of Fluids.png" frameborder="0"  allowfullscreen alt ="Mechanics of Fluids"></embed>
               </div>
              <div class="card-body">
                <hr>
                <p class="card-text">Mechanics of Fluids</p>
                <div class="d-flex justify-content-between align-items-center">
              </div>
            </div>
            </div>
        </div>

          <div class="col-md-4">
                <p class="card-text" style="padding: 8px;">
                    <b>The Amount</b><br>
                    R640.00
                </p>
                <hr>
                <p class="card-text" style="padding: 8px;">
                    <b>Place Order by sending an email</b><br>
                    <a href="mailto:career.mercury.sa@gmail.com"> career.mercury.sa@gmail.com</a>

                </p>
                <hr>
                <p class="card-text" style="padding: 8px;">
                    <b>Product ref</b><br>
                    SC01A1
                </p>
                <hr>
                <p class="card-text" style="padding: 8px;">
                    <b>Email must include</b><br>
                    Name &middot; Product ref &middot; Cell number
                    
                </p>
                <div class="d-flex justify-content-between align-items-center">
          </div>
          </div>
          </div> 
            </div>
            
              
                <!-- Footer-->
                <hr class="featurette-divider">

                <footer class="container">
                 <p>&copy; 2020 Career Mercury &middot; Privacy&middot; Terms</p>
                  </footer>

                  <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../assets/js/vendor/popper.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <script src="../../assets/js/vendor/holder.min.js"></script>
    <script>
      Holder.addTheme('thumb', {
        bg: '#55595c',
        fg: '#eceeef',
        text: 'Thumbnail'
      });
    </script>

    </body>
    </html>