
* {
    font-family: Arial, Helvetica, sans-serif;
 
}
/* nav
---------------------------------------------------
Repeating
--------------------------------------------------*/
.blog-header {
    line-height: 1;
    border-bottom: 1px solid #e5e5e5;
    font-size: 14px;
  }

  .blog-header-logo {
    font-family: "Playfair Display", Georgia, "Times New Roman", serif;
    font-size: 35px;
    text-decoration: none;
  }

  .education-header {
    max-width: 700px;
  }

  html {
    font-size: 11px;
  }
  @media (min-width: 768px) {
    html {
      font-size: 13px;
    }
  }


  /* 
---------------------------------------------------
New Section
--------------------------------------------------*/


.featurette-divider {
    margin: 5rem 0; /* Space out the Bootstrap <hr> more */
  }

div .lead1{
      padding-top: 20px;
      font-size: 16px;
  }


.box-shadow { 
      box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
     }

/* public uni icon */

.public {
    text-align: center;
    word-spacing: 5px;
    font-size: 13px;
}

.collage {
    padding-top: 20px;
}

/* hyperlink */

a:link {
  color:black;
  text-decoration: none;
}
a:visited {
  color:black;
  text-decoration: none;
}
a:hover {
  color: black;
  text-decoration: none;
}
a:active {
  color: black;
  text-decoration: none;
}

