
* {
  font-family: Arial, Helvetica, sans-serif;

}

/* nav
  ---------------------------------------------------
  Repeating
  --------------------------------------------------*/
  .blog-header {
    line-height: 1;
    border-bottom: 1px solid #e5e5e5;
    font-size: 14px;
  }
  
  .blog-header-logo {
    font-family: "Playfair Display", Georgia, "Times New Roman", serif;
    font-size: 35px;
    text-decoration: none;
  }
  
  .education-header {
    max-width: 700px;
  }
  
  html {
    font-size: 12px;
  }
  @media (min-width: 768px) {
    html {
      font-size: 13px;
    }
  }

      /* Table */

.table {
    font-size: 13px;
    padding-bottom: 20px;
}

.table tr td {
    padding: 12px;
}

.rank {
    padding-top: 15px;
    
}

/* Section bursaries */

.box-shadow { 
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
   }

/* footer */
.featurette-divider {
    margin: 5rem 0; /* Space out the Bootstrap <hr> more */
  }


  /* sidebar */
